In [ ]:
import pandas as pd  
import numpy as np   
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.DataFrame()

In [ ]:
d1={"NAME":['varaha','narasimha','kurma'],
   "AGE":[30,35,40]}
pd.DataFrame(d1)

In [ ]:
city_n=['hyd','goa','ayodhya']
d1['city']=city_n
df=pd.DataFrame(d1)
df

In [ ]:
ind=['A1','A2','A3']
df=pd.DataFrame(d1,
              index=ind)
df

In [ ]:
df.NAME=['parasuram','vamana','hanuma']
df

In [ ]:
df.NAME

In [ ]:
df.drop('city',
        axis=1,
       inplace=True)

In [ ]:
df.columns

In [ ]:
df

In [ ]:
df.drop('A3',
        axis=0,
       inplace=True)

In [ ]:
df

In [ ]:
df.to_csv('pout.csv',index=False)

In [ ]:
pd.read_csv("pout.csv")

In [3]:
s=input("enter the string:")
s1=s[::-1]
s=s.replace(' ','')
s1=s1.replace(' ','')
if s==s1:
    print("palendrome")
else:
    print("sorry not a palendrome try again")

enter the string:bird rib bird rib
palendrome