In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\Jayanth\Data science\python sheets\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

**standardization**

- standardization means scaling the data into one scale
- we have different columns has different units so that the value will vary 
- one column has very huge values
- another column has very less values
- so it is important to scale all types of units under one scale
- we have 2 procedures
- standardization
  - z-score 
                x-mu/sigma
        - the values  ranges from -3 to 3

- normalization
  - min max scalar
    
    
 - values ranges from 0 to 1

In [ ]:
# take the prevailing wage column
# z-score = x-mean/sigma

# s-2: calculate mean of prevailing wage
#s-3: calculate std of prevailing wage
#s-4: nr:pwage-mean
#s-5: pwage_zscore=nr/dr

In [10]:
p_wage=visa_df['prevailing_wage']

In [6]:
mean=round(visa_df['prevailing_wage'].mean(),2)
mean

74455.81

In [7]:
std=round(visa_df['prevailing_wage'].std(),2)
std

52815.94

In [13]:
nr=p_wage-mean
visa_df['prevailing_wage_z']=nr/std

In [14]:
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied,-1.398510
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified,0.169832
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied,0.919061
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied,0.169991
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified,1.428576
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified,0.049924
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified,3.876083
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified,1.360253
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified,0.221504
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified,-0.067762

In [18]:
visa_df[['prevailing_wage','prevailing_wage_z']]

       prevailing_wage  prevailing_wage_z
0             592.2029          -1.398510
1           83425.6500           0.169832
2          122996.8600           0.919061
3           83434.0300           0.169991
4          149907.3900           1.428576
...                ...                ...
25475       77092.5700           0.049924
25476      279174.7900           3.876083
25477      146298.8500           1.360253
25478       86154.7700           0.221504
25479       70876.9100          -0.067762

[25480 rows x 2 columns]

In [19]:
visa_df['prevailing_wage'].idxmax()

21077

In [20]:
visa_df['prevailing_wage_z'].idxmax()

21077

In [23]:
visa_df['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()

(319210.27, 4.6341021290163535)

In [24]:
visa_df['prevailing_wage'].min(),visa_df['prevailing_wage_z'].min()

(2.1367, -1.4096818744492665)

In [25]:
visa_df['prevailing_wage'].idxmin(),visa_df['prevailing_wage_z'].idxmin()

(20575, 20575)

In [26]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [27]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[21077,20575]
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[21077,20575]]
visa_df[cols].iloc[ids]

       prevailing_wage  prevailing_wage_z
21077      319210.2700           4.634102
20575           2.1367          -1.409682

In [ ]:
# genrally will over write the column values
# because we want to clean our data before we apply ml model
#if you create any extra columns make sure drop of non required columns

$standard$$scalar$

In [37]:
# read the package
# save the package
# apply fit transform
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage_ss']=ss.fit_transform(visa_df[['prevailing_wage']])

In [31]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

**normalization**

$minmaxscalar$

In [38]:
path=r"C:\Users\Jayanth\Data science\python sheets\Visadataset.csv"
visa_df=pd.read_csv(path)
visa_df.head(3)

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied

In [52]:
x=visa_df['prevailing_wage']
x_min=round(visa_df['prevailing_wage'].min(),2)
x_max=round(visa_df['prevailing_wage'].max(),2)
nr=x-x_min
dr=x_max-x_min
visa_df['prevailing_wage_norm']=nr/dr

In [53]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(-1.033808255447724e-08, 1.0)

In [49]:
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
visa_df['prevailing_wage_mms']=mms.fit_transform(visa_df[['prevailing_wage']])

In [51]:
visa_df['prevailing_wage_mms']

0        0.001849
1        0.261345
2        0.385312
3        0.261371
4        0.469616
           ...
25475    0.241505
25476    0.874579
25477    0.458311
25478    0.269895
25479    0.222033
Name: prevailing_wage_mms, Length: 25480, dtype: float64